
*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-color: #222222; */
    background-color: #BDE038;
}

.wrap{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 100%;
    margin: 10px auto;
    background-color: white;
}

#aside{
    display: flex;
    flex-direction: column;
    /* background: #dedede; */
    background-color: #A3AB78;
    width: 40%;
}

#aside .content div:last-child a{
    text-decoration: none;
    color: #3f3f3f;
    transition: all 300ms;
}

#aside .content div:last-child a:hover{
    transform: scale(1.2, 1.2);
    font-style: oblique;
    color: #506266;
}

.content{
    width: 100%;
    height: 100%;
}

#my-photo{
    margin: 50px auto;
    width: 250px;
}

#my-photo img{
    border-radius: 50%;
    width: 100%;
}

#sheet{
    width: 60%;
    height: 100%;
    /* background-color: red; */
}

.box{
    width: 75%;
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #3f3f3f;
    
}

.box h2{
    display: inline;
    border-bottom: 4px solid black;
}

.box p{
    margin-top: 5%;
    text-transform: none;
    text-align: justify;
    /* background-color: rebeccapurple; */
}

.box ul{
    margin: 25px auto;
}

.box li{
    text-transform: none;
    display: flex;
    list-style: none;
    margin-top: 15px;
}

.icon{
    margin-right: 15px;
    font-size: 25px;
    color: #222222;
}

.fullname_title{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
}

#name{
    color: #A3AB78;
}

#surname{
    color: #818274;
    margin-left: 15px;
}

#sheet .content{
    margin-left: 20px;
}

#degree{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color:#818274;
    width: 80%;
}

#sheet .box{
    
    margin: 20px 0px 0px 0px;
    width: 85%;

}

#sheet .box ul li ul{
    margin-left: 50px;
    margin-top:0px;
}

#sheet .box ul li p{
    margin-top: 5px;
}

#sheet .box li{
    display: block;
    margin-top: 0px;
}
#sheet .box li:first-child{
    margin-top: 10px;
}

#sheet .box div ul div{
    display: inline;
}

.item-edu{
    margin-bottom: 20px;
}


#sheet .button{
    display: block;
    margin: 50px auto;
    width: 70%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #818274;
    font-size: 20px;
    color: white;
    border-radius: 10rem;
    border: none;
    text-align: center;
    box-shadow: 1px 1px 5px #818274;
    overflow: hidden;
} 



.button a{
    text-decoration: none;
    line-height: 70px;
    display:block;
    transition: all 300ms;
    color: white;
}

.button a:visited{
    color: white;
}

.button:hover a{
    background-color: #3f3f3f;
    text-shadow: 1px 1px 1px black, 1px 2px 1px black , 1px 3px 1px black, 1px 4px 1px black   ;
}

/*Responsive Design*/
@media(max-width: 1080px){
    .fullname_title{
        font-size:25px;
    }

    #degree{
        font-size: 21px;
    }

}

@media(max-width:1246px){
    #aside .content #contact h2{
        border:none;
    }
    
    #contact{
        border-bottom: 4px solid black;
        width: 70%;
    }
}

@media(max-width:920px){
    #title{
        font-size: 20px;
    }

    #degree{
        font-size: 16px;
    }

    .box{
        font-size: 12px;
    }

    .icon{
        font-size: 13px;
    }

    #my-photo{
        width: 200px;
    }

    #sheet .button{
        font-size: 15px;
        width:60%;
        height: 60px;
    }

    .button a{
        line-height: 60px;
    }
}


@media(max-width:720px){
    #title{
        font-size: 18px;
    }

    #degree{
        font-size: 14px;
    }

    .box{
        font-size: 10px;
    }

    .icon{
        font-size: 11px;
    }

    #my-photo{
        width: 198px;
    }

    #sheet .button{
        font-size: 10px;
        width: 55%;
        height: 55px;
    }

    .button a{
        line-height: 58px;
    }

    #sheet .box ul li ul{
        margin-left: 15px;
    }
}
